@model Final_Project_OOP.Models.FacultyMember

@{
    ViewData["Title"] = "Create Teacher";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="CreateFacultyMember" asp-controller="FacultyMember" method="post">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" required>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="LastName" required>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="email" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
